footer
  .container.text-center
    p.pull-left July 2017. Created by interns from ERA13 at the "I Stand With Immigrants" Hackathon.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/mparker3/ISWI') GitHub Repository
      li
        a(href='https://www.eranyc.com/') ERA
