extends layout

block content
  h1 Find mentors in your area
  h2 We're currently looking for mentors in your area. Here are a few that we've found so far:
  hr
  br
  br
  br
  br

  each user in usersInfo
      .row(style="background-color:grey; padding: 30px; margin: 20px; border-radius: 30px")
        div(align='left')
        .col-sm-4(align='center')
          img(src='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png', height=60, margin-top=10)
          br
          - console.log(user)
          div(align='left')
            p Name: #{user["profile"]["name"]}
            p Country of Origin: #{user["profile"]["origin"]}
            p Language: #{user["profile"]["languages"]}
            p Age: #{user["profile"]["age"]}
          br
          br
