extends layout

block content
  h1 Homecoming
  p.lead Find friends in the most unfamiliar places.
  hr
  .row
    .col-sm-6(align='center')
      img(src='http://i.imgur.com/VisGn5W.png', height=60, margin-top=10)
      h2 Connect with those who share your interests
      br
      br
    .col-sm-6(align='center')
      img(src='http://i.imgur.com/9Fc2zX8.png', height=60)
      h2 Meet mentors and mentees nearby
      br
      br
    .col-sm-6(align='center')
      img(src='http://i.imgur.com/fVRw6si.png', height=60)
      h2 Easily communicate between connections
      br
      br
    .col-sm-6(align='center')
      img(src='http://i.imgur.com/TbjGn4U.png', height=60)
      h2 Create a community that feels like home
      br
      br
