extends layout

block content

  br

  .div(align='center')
    h1 Thanks for signing up! We're looking for mentees in your area.

    img(src="https://maps.googleapis.com/maps/api/staticmap?center=Opera+House,Sydney+Australia&zoom=13&size=400x300&markers=-33.8565,151.2151&sensor=false", width = 700)
